:root {
  --snow: #FAFAFA;
  --dark: #1B1B37;
  --sand: #FDF1E2;
  --olive: #3A3B35;
  --heather: #565676;
  --x-large: 144px;
  --large: 96px;
  --medium: 48px;
  --small: 24px;
  --x-small: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  background:  var(--snow);
  padding: var(--small) var(--medium);
  width: auto !important;
}

h1, h2{
  color: var(--dark);
  font-family: 'FT Klon';
  font-style: normal;
  font-weight: normal;
}

h1{ 
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.04em;
  max-width: 560px;
}

p {
  color: var(--heather);
  font-weight: 400;
}

a, label, .bold,.pageclip-form__success__message {
  color: var(--dark);
  font-weight: 500;
}

p, li, a, label, .pageclip-form__success__message {
  font-family: 'DM Sans', sans-serif;
  max-width: 560px;
  font-size: 18px;
  line-height: 24px;
}

p.large {
  font-size: 24px;
  line-height: 32px;
  max-width: 640px;
}

a {
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
}

nav ul li{
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: var(--dark);
  margin-right: var(--small);
}

nav ul li a:hover {
  border-bottom: 2px solid var(--dark);
}

nav .hamburger {
  display: none;
}

.logo {
  font-family: 'FT Klon';
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
}

section {
  margin: var(--x-large) 0;
}

.grid {
  display: grid;
  gap: var(--medium);
  grid-auto-flow: row;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 32px;
  font-weight: 500;
  text-align: center;
  color: var(--snow);
  background: var(--dark);
  text-decoration: none;
  width: fit-content;
}

.tag {
  padding: 8px 16px;
  border-radius: 24px;
  color: var(--dark);
  background: var(--sand);
}

.tag.snow {
  background: var(--snow);
  padding: 8px 0;
}

.tag-array .tag {
  margin-right: var(--small);
}

.tag-array {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tag-small {
  padding: 4px 8px;
  background: var(--sand);
  border-radius: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  width: fit-content;
}

img {
  width: 100%;
  max-width: 688px;
}

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta h2, .cta p{
  text-align: center;
  max-width: 640px;
}

.cta-title {
  position: relative;
  margin-bottom: var(--small);
}

.cta-title .tag-small {
  position: absolute;
  top: -16px;
  right: -64px;
}

input, select {
  padding: 16px;
  background: rgba(27, 27, 55, 0.16);
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

select {
  text-transform: uppercase;
  color: var(--heather);
  -webkit-appearance: none;
  width: 100%;
}

*::placeholder {
  color: var(--heather);
}

.pageclip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 888px;
}

.pageclip-form .cta-questions {
  margin: var(--medium) 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 24px;
  width: 100%;
}

.cta-question {
  display: flex;
  flex-direction: column;
}

.cta-question label {
  margin-bottom: 8px;
}

.pageclip-form__submit {
  display: block;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: fit-content;
  width: 33%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.j-end {
  justify-self: end;
}

.a-end {
  align-self: end;
}

#sign-up {
  margin-top: calc(var(--x-large) * -1);
  height: var(--x-large);
}

.pageclip-form__success {
  background: var(--snow);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGE SPECIFIC CSS */

.hero {
  margin: var(--small) 0 var(--large);
  align-items: stretch;
  grid-template-columns: auto 400px;
}

.hero h1 {
  margin-top: var(--medium);
}

.hero img {
  align-self: start;
}

.hero .tag-array {
  margin-top: auto;
}

.hero .button {
  margin-bottom: var(--medium);
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-center {
  grid-template-columns: auto;
  justify-content: center;
}

.hero-center * {
  text-align: center;
  max-width: 800px;
  align-items: center;
}

nav .tag-small {
  position: absolute;
  top: -12px;
  right: -20px;
}

/* TYPE PAIRINGS */

h1 + p, h2 + p {
  margin-top: var(--small);
}

p + a.button {
  margin-top: var(--medium)
}

p + p {
  margin-top: var(--x-small);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 64px;
    line-height: 72px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  p.large{
    font-size: 18px;
    line-height: 24px;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (max-width: 720px) {

  :root {
    --x-large: 96px;
    --large: 48px;
    --medium: 24px;
    --small: 16px;
    --x-small: 8px;
  }

  h1 {
    font-size: 56px;
    line-height: 64px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  nav .hamburger {
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  nav ul {
    display: none;
    order: 3;
    margin-top: var(--small);
    margin-left: var(--x-small);
  }

  nav ul li {
    width: fit-content;
  }

  nav ul.show {
    display: block;
    flex-basis: 100%;
  }

  nav ul li a{
    font-size: 24px;
    line-height: 32px;
  }

  nav ul li + li {
    margin-top: var(--small);
  }

  .start {
    order: -1;;
  }

  .cta-question {
    margin-bottom: 24px;
  }

  .grid, .pageclip-form .cta-questions, footer {
    grid-template-columns: 1fr;
  }

  footer p, footer .right {
    text-align: center;
  }

  footer .logo {
    margin: var(--small) 0;
    order: 1;
  }

  .pageclip-form__submit {
    width: 100%;
  }

  .row-end {
    grid-row: end;
  }

  .hero img {
    width: 100%;
    max-width: 480px;
  }
  

}